
.cell {
  width: 10px;
  height: 10px;

  &--alive {
    background-color:white;
  }
}


form,
.buttons {
  margin-top: 10px;
  gap: 10px;
}

form input {
  width: 50px;
}

.row,
.row .cell,
.buttons,
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
